body {
	/* background: linear-gradient(130deg, #ac1a2a, #1f1fb2 41.07%, #bb2dfd 76.05%);  */
	background-color: #A1D6E2;
	 color:  black;
	min-height: 100vh;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	
}
.navbar-brand img{
    margin-right: 10px;
    margin-left: 20px;
}
a:link{
	text-decoration: none;
}
select{
	width: 1300px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 3px;
	margin-bottom: 10px;
}
.table1{
	margin-top: 100px;
}
